/**
 * _typography.scss
 * ================
 *
 */

 @for $i from 1 through length($font-size--headings) {

  h#{$i} {
    @extend %heading;
    font-family: $font-family--heading;
    font-size: #{nth($font-size--headings, $i)};

    @if $i <= 3 {
      @extend %heading--sm;
    }

    @else {
      padding: $baseline 0;
    }
  }
}

p {
 padding-bottom: $baseline;
}
